<div class="wrapper">
  <button md-fab (click)="addNewFootballer()">
    <md-icon>add</md-icon>
  </button>
  <div class="table">

    <div class="row header">
      <div class="cell">
        First name
      </div>
      <div class="cell">
        Last name
      </div>
      <div class="cell">
        Country
      </div>
      <div class="cell">
        Club
      </div>
      <div class="cell">
        Edit
      </div>
      <div class="cell">
        Delete
      </div>
    </div>

    <div class="row" *ngFor="let footballer of (footballersList$ | async)">
      <div class="cell"> <!-- first name -->
        {{ footballer.firstName }}
      </div>

      <div class="cell"> <!-- last name -->
        {{ footballer.lastName }}
      </div>

      <div class="cell"> <!-- country -->
        {{ footballer.country }}
      </div>

      <div class="cell"> <!-- club -->
        {{ footballer.club }}
      </div>

      <div class="cell" (click)="editFootballer(footballer._id)"> <!-- edit -->
        EDIT
      </div>

      <div class="cell" (click)="removeFootballer(footballer._id)"> <!-- delete -->
        DELETE
      </div>
    </div>
  </div>
</div>