<div class="wrapper">
  <button md-fab (click)="addNewFootballer()">
    <md-icon>add</md-icon>
  </button>
  <div class="table">

    <div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Age
      </div>
      <div class="cell">
        Occupation
      </div>
      <div class="cell">
        Location
      </div>
    </div>

    <div class="row" *ngFor="let footballer of (footballersList$ | async)">
      <div class="cell"> <!-- name -->
        {{ footballer.name }}
      </div>

      <div class="cell"> <!-- age -->
        {{ footballer._id }}
      </div>
    </div>
  </div>
</div>