<x-header></x-header>

<div class="aside">
  <a [routerLink]='["/dashboard/footballers"]'>
    <div class="item first">
      <i class="material-icons">face</i>
      <span class="item-text">
        Show all footballers
      </span>
    </div>
  </a>
  <a [routerLink]='["/dashboard/matches"]'>
    <div class="item">
      <i class="material-icons">games</i>
      <span class="item-text">
        Show all matches
      </span>
    </div>
  </a>
  <a [routerLink]='["/dashboard/trainers"]'>
    <div class="item">
      <i class="material-icons">tag_faces</i>
      <span class="item-text">
        Show all trainers
      </span>
    </div>
  </a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
