@import './assets/colors';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font: 1.6rem/1.2em 'Roboto', sans-serif;
  color: $dark;
  background: $background;
}

h1, h2 {
  line-height: 1.2em;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin: 0 0 1em;
}

h2 {
  font-size: 2rem;
  margin: 0 0 .5em;
}

a {
  text-decoration: none;
  color: $dark;
}

button, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background: transparent;
}

p {
  margin: 0 0 1em;
}

:host {
  color: #FFFFFF;
  background-color: #FFFFFF;
  background-size: cover;
  display: block;
  height: 100vh;
  width: 100vw;
}

.aside {
  background: #2F343B;
  float: left;
  width: 17.5%;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  color: #FFF8E3;
  padding: 10px;
}

.item.first {
  margin-top: 20px;
}

.item:hover {
  cursor: pointer;
  background: #703030;
}

.item-text {
  margin-left: 10px;
}

.content {
  height: 100%;
  width: 82.5%;
  float: left;
  color: #33332D;
}

.icon {
  color: white;
}